/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn{
    border: 2px solid black;
    text-align: center;
    padding: 0 .6rem;
    color: white;
    background-color: #2b78e4;
    font-size: 1rem;
    padding: .5rem 3.5rem;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
}

.row{
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.col, .col-2, .col-3{
    background-color: #659da1;
    color: white;
    padding: 1rem;
}

.col{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

.nav{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: 6px;
}

.nav-title{
    color: white;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenido{
    display: flex;
    gap: 2.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.seccion-derecha{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 400px;
    width: 100%;
    margin-top: 2rem;
}

.seccion-izquierda{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.card-contenedor{
    border: 4px solid rgb(212, 212, 212);
}
.card-cabecera{
    background-color: #17a2b8;
    height: 100px;
    position: relative;
}
.direccion{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.direccion img{
    height: 30px;
}

.foto-perfil{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: .3rem;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    bottom: -50px;
    left: 30px;
}

.card-cuerpo{
    padding: 2rem;
    padding-top: calc(50px + .5rem);
}
.edit {
    display: flex;
    gap: .7rem;
    align-items: center;
    margin-top: 1rem;
}
.edit img{
    height: 20px;
}

.card2-contenedor{
    border: 4px solid rgb(212, 212, 212);
}

.card2-cabecera{
    background-color: #333333;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
}
.card2-cabecera p{
    background-color: #cccccc;
    font-weight: 700;
    border-radius: 50%;
    color: #333333;
    padding: .21rem .6rem;
    text-align: center;
}
.card2-cabecera h4{
    color: white;
}

.card2-cuerpo{
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    padding: 1.5rem;
}

.card2-persona{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card2-persona-info{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card2-persona p{
    font-size: 1.2rem;
}

.card2-persona img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.card2-persona-buttons{
    display: flex;
    gap: .5rem;
}

.title-post{
    font-size: 1.5rem;
    margin: 0;
}

.subtitle-post{
    font-size: 1rem;
    margin-top: -.5rem;
}

.margin-left{
    margin-left: .5rem;
}

.letter-spacing{
    letter-spacing: 0.1rem;
}

.card2-fotter{
    display: flex;
    padding: 1rem;
    border-top: 4px solid rgb(212, 212, 212);
}
.card2-fotter h4{
    color: #2b78e4;
    text-decoration: underline;
    cursor: pointer;
}